.category {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: category-appear 1s ease-out forwards;
}
.category ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}
.product-loading {
  text-align: center;
  color: #000000;
}

@keyframes category-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
